/* Design System is when you want to reuse your code!👇 */
:root {
  --color-name: green;  
}

.item-1 {
  color: var(--color-name);
}
.item-2 {
  color: var(--color-name);;
}
.item-3 {
  color: var(--color-name);;
}
.item-4 {
  color: var(--color-name);;
}
