/**
*! styles for section one
**/
.sectionOne__left--text {
  font-family: var(--font-1);
  font-size: var(--body);
  color: var(--color-white-75);
}

.sectionOne__left--btn{
    align-self: center;
    margin-top: 20px;
}